<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zx_boldSCFont</key>
	<string>SourceHanSansCN-Bold</string>
	<key>zx_bigerSCFont</key>
	<string>SourceHanSansCN-Medium</string>
	<key>zx_textColorTitle</key>
	<string>#343434</string>
	<key>zx_textColorBody</key>
	<string>#333333</string>
	<key>zx_textColorMark</key>
	<string>#BABABA</string>
	<key>zx_fontNameBody</key>
	<string>PingFangSC-Regular</string>
	<key>zx_fontNameTitle</key>
	<string>PingFangSC-Light</string>
	<key>zx_fontNameMark</key>
	<string>PingFangSC-Light</string>
	<key>zx_iconFont</key>
	<string>iconfont</string>
	<key>zx_fontSizeTitle</key>
	<dict>
		<key>4_0</key>
		<integer>22</integer>
		<key>4_7</key>
		<integer>24</integer>
		<key>5_5</key>
		<integer>24</integer>
	</dict>
	<key>zx_fontSizeSubtitle</key>
	<dict>
		<key>4_0</key>
		<integer>16</integer>
		<key>4_7</key>
		<integer>17</integer>
		<key>5_5</key>
		<integer>18</integer>
	</dict>
	<key>zx_fontSizeBody</key>
	<dict>
		<key>4_0</key>
		<integer>14</integer>
		<key>4_7</key>
		<integer>15</integer>
		<key>5_5</key>
		<integer>16</integer>
	</dict>
	<key>zx_fontSizeMark</key>
	<dict>
		<key>4_0</key>
		<integer>12</integer>
		<key>4_7</key>
		<integer>12</integer>
		<key>5_5</key>
		<integer>12</integer>
	</dict>
	<key>zx_fontSizeSupMark</key>
	<dict>
		<key>4_0</key>
		<integer>13</integer>
		<key>4_7</key>
		<integer>13</integer>
		<key>5_5</key>
		<integer>13</integer>
	</dict>
	<key>zx_fontSizeBiger</key>
	<dict>
		<key>4_0</key>
		<integer>35</integer>
		<key>4_7</key>
		<integer>35</integer>
		<key>5_5</key>
		<integer>35</integer>
	</dict>
</dict>
</plist>
