<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zx_showSeparatorLine</key>
	<false/>
	<key>zx_isTranslucent</key>
	<false/>
	<key>zx_backgroundColor</key>
	<string>#000000</string>
	<key>zx_titleNormalColor</key>
	<string>#a1aec7</string>
	<key>zx_titleSelectedColor</key>
	<string>#262a32</string>
	<key>zx_customTitleFont</key>
	<false/>
	<key>zx_customTitleFontName</key>
	<string>Snell Roundhand</string>
	<key>zx_customTitleFontSize</key>
	<dict>
		<key>4_0</key>
		<integer>10</integer>
		<key>4_7</key>
		<integer>12</integer>
		<key>5_5</key>
		<integer>12</integer>
	</dict>
	<key>zx_barItems</key>
	<array>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab1</string>
			<key>selectedImage</key>
			<string>tab1A</string>
			<key>title</key>
			<string>首页</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab2</string>
			<key>selectedImage</key>
			<string>tab2A</string>
			<key>title</key>
			<string>商城</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab3</string>
			<key>selectedImage</key>
			<string>tab3A</string>
			<key>title</key>
			<string>活动</string>
		</dict>
		<dict>
			<key>showAsPresent</key>
			<false/>
			<key>embedInNavigation</key>
			<true/>
			<key>normalImage</key>
			<string>tab5</string>
			<key>selectedImage</key>
			<string>tab5A</string>
			<key>title</key>
			<string>我的</string>
		</dict>
	</array>
</dict>
</plist>
